langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
onnxruntime<=1.17.3
langchain-groq
python-dotenv
typesense
langchain-huggingface
langgraph
pymongo
langsmith
langchain-anthropic
anthropic
beautifulsoup4
tiktoken